@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/*---------- 공통 ----------*/
body { 
    height: '100vh'; 
    -ms-overflow-style: none;
    font-family: 'Gowun Dodum', sans-serif;
    word-break: keep-all;
}
::-webkit-scrollbar {
    display: none;
}

.room { position: relative; }
.room > img { 
    width: 100%;
    height: 100vh;
}

/* 이미지맵 */
.room .maparea { 
    cursor: pointer;
    position: absolute;
    /* opacity: 0; */
}
.room .maparea2 {
    position: absolute;
}

/* 툴팁 */
[data-tooltip]::before,
[data-tooltip]::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
[data-tooltip]::before { 
    content: attr(data-tooltip);
    top: -60px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff; 
    background: #f33f2f;
    box-shadow: 5px 5px 7px #fff;
    letter-spacing: 3px;
    animation: beforeDown 0.5s infinite;
}
[data-tooltip]::after { 
    content: '';
    top: -20px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #f33f2f;
    animation: afterDown 0.5s infinite;
}
@keyframes beforeDown {
    0%{
        top: -65px;
    }
    100%{
        top: -60px;
    }
}
@keyframes afterDown {
    0%{
        top: -25px;
    }
    100%{
        top: -20px;
    }
}

/* 첫화면 */
.outer {
    display: none;
}
.outer > div{ 
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: #000;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    color: #f6ac1d;
    font-size: 40px;
}
.walkBox { 
    background: url('../img/sprtie.png') no-repeat;
    width: 264px; 
    height: 256px; 
    background-position: 0 0;
    animation: move 2s steps(6) infinite;
}
@keyframes move {
    0% { background-position: 0 0;  }
    100% { background-position: -1584px 0;  }
}

/* 팝업창 */
.backcolor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.pop { 
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}
.pop.on { display: block; }
.close {
    color: #fff;
    font-size: 35px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    z-index: 1;
}

.center { text-align: center; }
.right { text-align: right; }
h1 { 
    font-size: 50px;
    font-weight: bold;
}
h2 { 
    font-size: 40px;
    font-weight: bold;   
}
h3 { 
    font-size: 30px;
    font-weight: bold; 
}

/* 아이템 문구 */
.textBox {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 22px;
    width: calc(100% - 350px);
    height: 20%;
    padding: 30px 0;
    text-align: center;
    cursor: pointer;
}
.textBox .textClose {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
}

/* 아이템팝업 */
.itemPop {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 0;
    left: 0;
    transform: none;
}
.itemPop .close {
    left: 90%;
    bottom: 90%;
}
.itemPop .passWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* 비밀번호 */
.passBox {
    width: 1200px;
    height: 400px;
    background: url("../img/back.png") no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.passBox .pw_img {
    width: 182px;
    height: 182px;
    overflow: hidden;
}
.passBox .pw_img > div {
    position: relative;
    transition: all 0.5s;
}

.passBox button, button:active, button:focus {
    width: 182px; 
    height: 30px;
    border: none; 
    outline: none;
    color: #fff;
    background-color: #572e17;
    font-size: 20px;
}
.passBox button:hover {
    background-color: #8b4b25;
}
.passBox button:disabled {
    background-color: gray;
}
    
/*---------- room1 about ----------*/
.room1 .about {  
    width: 24.5%;
    height: 33%;
    top: 7.5%;
    right: 12.5%;
    border-radius: 50%;
}
.room1 .about:hover { 
    background: url('../img/me.jpg') no-repeat 50% 85%; 
    opacity: 0.5;
}
.room1 .window {
    width: 39%;
    top: 3%;
    left: 3%;
    background-color: rgb(214, 227, 242);
    background-image: url('../img/cloud2.png'), url('../img/cloud1.png');
    background-size: 45%, 40%;
    background-position: 100% 90%, 0% 10%;
    background-repeat: no-repeat;
    animation: cloudeMove 5s infinite;
    transition: all 0.5s;
}
.room1 .window:hover {
    background-image:  url('../img/cloud4.png'), url('../img/cloud3.png');
}
@keyframes cloudeMove {
    0% { background-position: 100% 90%, 0% 10%  }
    50% { background-position: 10% 90%, 100% 10%  }
    100% { background-position: 100% 90%, 0% 10% }
}

.room1 .water {  
    width: 0.9%;
    height: 8.1%;
    top: 44.4%;
    right: 21.6%;
    background-color: rgba(133, 197, 226, 0.8);
}
.room1 .water::after,
.room1 .water::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    filter: blur(5px);
}
.room1 .water::after { animation: moveWater 1s infinite; }
.room1 .water::before { animation: moveWater 1s 0.5s infinite; }
@keyframes moveWater {
    0% { top: 0; }
    100% { top: 100%; }
}

.room1 .aboutBox {
    width: 100%;
    height: 100%;
    background: url('../img/mirror.png') no-repeat center center;
    background-size: contain;
    font-size: 20px;
}
.aboutBox .close {
    color: #fff;
    font-size: 35px;
    position: absolute;
    bottom: 90%;
    left: 90%;
    z-index: 1;
}
.room1 .aboutBox p span { font-weight: bold; }

.room1 .aboutBox > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 87%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    border-radius: 50%;
    padding: 5%;
}
.room1 .aboutBox .aboutimg img {
    width: 250px;
    height: 250px;
    margin: 20px auto 0;
}

.room1 .aboutBox .squared div {
    width:200px;
    position:relative;
    margin:10px 0 40px 40px;
    padding:0.2em 0.4em;
    transform: rotate(10deg);
    transform-origin: 0% 0%;
    font-weight: bold;
    font-size: 25px;
}
.room1 .aboutBox .squared div.blue {
    color: rgb(18, 150, 240);
    border: 2px solid rgb(18, 150, 240);
}
.room1 .aboutBox .squared div.red {
    color: rgb(255, 54, 74);
    border: 2px solid rgb(255, 54, 74);
}
.room1 .aboutBox .squared div.yellow {
    color:rgb(255, 174, 63);
    border: 2px solid rgb(255, 174, 63);
}
.room1 .aboutBox .squared div.green {
    color: rgb(0, 162, 97);
    border: 2px solid rgb(0, 162, 97);
}
.room1 .aboutBox .squared p {
    padding: 20px 0 35px;
    line-height: 35px;
}

/*---------- room2 skill ----------*/
.room2 .skill {
    width: 24.2%;
    height: 19.4%;
    top: 32.6%;
    right: 5.5%;
}
.room2 .skill:hover { 
    background: url('../img/tv1.jpg') no-repeat;
    background-size: 100% 100%; 
    opacity: 0.5;
    animation: tv 1s infinite;
}
@keyframes tv {
    0% {
        background: url('../img/tv1.jpg') no-repeat;
        background-size: 100% 100%;
    }
    50% {
        background: url('../img/tv2.jpg') no-repeat;
        background-size: 100% 100%;
    }
}

.room2 .clock {
    width: 6.8%;
    height: 8.9%;
    top: 2.5%;
    left: 5.5%;
    border-radius: 50%;
}
.room2 .clock::after {
    content: '';
    position: absolute;
    width: 2%;
    height: 35%;
    top: 50%;
    left: 49%;
    background: brown;
    transform: rotate(0);
    transform-origin: left top;
    animation: clock 60s linear infinite;
}
@keyframes clock {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }
}

.room2 .skillBox {
    width: 90%;
    height: 90%;
    background: url('../img/tv_frame.png') no-repeat center center;
    background-size: 100% 100%;
}
.room2 .skillBox > div {
    position: absolute;
    padding-top: 5%;
    top: 6.4%;
    left: 50%;
    width: 55%;
    height: 83.7%;
    transform: translateX(-50%);
    overflow-y: scroll;
}

/*---------- room3 portfolio ----------*/
.room3 .portfolio {
    width: 10.3%;
    height: 10%;
    top: 49.3%;
    right: 14.9%;
}
.room3 .portfolio::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    /* clip-path overflow:hidden 때문에 ::after사용 */
    clip-path: polygon(0% 0%, 78% 0%, 100% 90%, 80% 98%, 0% 100%);
}
.room3 .portfolio:hover::after { background: rgba(255, 255, 255, 0.5); }

.room3 .clock {
    width: 6%;
    height: 8%;
    top: 11.6%;
    left: 4.9%;
    border-radius: 50%;
}
.room3 .clock::after {
    content: '';
    position: absolute;
    width: 2%;
    height: 36%;
    top: 50%;
    left: 49%;
    background: darkblue;
    transform: rotate(0);
    transform-origin: left top;
    animation: clock 60s linear infinite;
}

.room3 .portfolioBox .hard { background: #fededf !important; }
.room3 .portfolioBox .page { background: #fff; }
.room3 .even { border-right: 2px solid #ddd; }
.room3 .odd { border-left: 2px solid #ddd; }

/* 페이지 공통 */
.room3 .pageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
/* 표지 */
.room3 .portfolioBox .hard h1 { 
    z-index: 2; 
    flex: 1;
    display: flex;
    align-items: center;
}
.room3 .portfolioBox .hard p {
    font-size: 25px;
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin: 0 20px 20px auto;
}

/* 소개 */
.room3 .pageWrap .blockquote { position: relative; }
.room3 .pageWrap .blockquote::before{
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 200px;
    font-weight: bold;
    color: #e74848;
    position: absolute;
    left: -30px;
    top: -60px;
    z-index: 1;
}
.room3 .pageWrap .blockquote h2 {
    position: relative;
    color: #e74848;
    border: 3px solid #e74848;
    border-radius:25px;
    padding: 30px;
}
.room3 .pageWrap .blockquote h2::after {
    content: "";
    position: absolute;
    border: 3px solid #e74848;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -63px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3; 
}
.room3 .pageWrap .blockquote h2::before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid #fff;
    bottom: -6px;
    left: 50px;
    z-index: 2;
}
.room3 .pageWrap .blockquote p {
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
}
.room3 .pageWrap .more_btn {
    margin-top: 30px;
    position: relative;
    border: none;
    width: 150px;
    height: 50px;
    line-height: 42px;
    perspective: 230px;
}
.room3 .pageWrap .more_btn span {
    background: linear-gradient(0deg, #e74848 0%, #f76c5f 100%);
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    line-height: 50px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s;
    color: #fff;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 16px;
}
.room3 .pageWrap .more_btn span:nth-child(1) {
    box-shadow : -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transform: rotateX(90deg);
    transform-origin: 50% 50% -25px;
}
.room3 .pageWrap .more_btn span:nth-child(2) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -25px;
}
.room3 .pageWrap .more_btn:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transform: rotateX(0deg);
}
.room3 .pageWrap .more_btn:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    color: transparent;
    transform: rotateX(-90deg);
}

.room3 .pageWrap img {
    width: 100%;
    height: auto;
    /* 이미지가 백그라운드 이미지보다 위로 올라오게 */
    position: relative;
}
.room3 .pageWrap .rwdP { 
    position: relative;
    width: 90%; 
}
.room3 .pageWrap .rwdTM {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
}
.room3 .pageWrap .rwdT { left: 50px; }
.room3 .pageWrap .rwdM { right: 50px; }
.room3 .pageWrap .overlay {
    position: absolute;
    background-size: cover !important;
    background-position: top center !important;
    transition: all 2s;
}
.room3 .pageWrap .rwdP .overlay {   
    width: 92%;
    height: 60%;
    top: 4%;
    left: 4%;
    background: url('../img/pc_ver.png') no-repeat;
}
.room3 .pageWrap .rwdT .overlay {    
    width: 90.2%;
    height: 90.2%;
    top: 3.7%;
    left: 5%;
    background: url('../img/tab_ver.png') no-repeat;
}
.room3 .pageWrap .rwdM .overlay {  
    width: 87.3%;
    height: 91.5%;
    top: 3%;
    left: 6%;
    background: url('../img/mo_ver.png') no-repeat;
}
.room3 .pageWrap .rwd:hover .overlay { background-position:bottom center !important; }

/*---------- room4 contact ----------*/
.room4 .contact {
    width: 19%;
    height: 16%;
    top: 39%;
    left: 44%;
}
.room4 .contact::after {
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 5%;
    /* clip-path overflow:hidden 때문에 ::after사용 */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%, 25% 95%, 22% 90%, 17% 86%, 0 85%);
}
.room4 .contact:hover::after { 
    background: rgba(255, 255, 255, 0.5);
    content: '\f1d8';
    font-family: 'FontAwesome';
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    animation: scale 1s infinite;
}
@keyframes scale {
    0% { font-size: 50px; }
    50% { font-size: 60px; }
    100% { font-size: 50px; }
}

.room4 .photo1 {
    width: 11.5%;
    top: 20.3%;
    left: 9.2%;
}
.room4 .photo2 {
    width: 8.5%;
    top: 25.5%;
    left: 23%;
}
.room4 .photo:hover { animation: shake 1s infinite; }
@keyframes shake {
    0% { transform: rotate(-10deg) }
    50% { transform: rotate(10deg) }
    100% { transform: rotate(-10deg) }
}
/* .room4 .photo { transition: all 0.5s; }
.room4 .photo1:hover { transform: rotate(-15deg); }
.room4 .photo2:hover { transform: rotate(15deg); } */

.room4 .contactBox {
    width: 90%;
    height: 85%;
    background: url('../img/browser.png') no-repeat center center;
    background-size: 100% 100%;
}
.room4 .contactBox > div {
    position: absolute;
    top: 54%;
    left: 50%;
    width: 80%;
    height: 75%;
    transform: translate(-50%, -50%); 
    overflow-y: scroll;
    padding: 30px 0 60px
}

.room4 form { 
    margin-top: 50px;
}
.room4 form table{ 
    width: 90%;
}
.room4 form td { 
    padding: 10px 0;
    font-size: 20px; 
}
.room4 form td:first-child { text-align: right;}
.room4 form td:first-child label { margin-right: 50px; }
.room4 form input {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid #555;
}
.room4 form textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #555;
    padding: 10px;
    font-size: 15px; 
}

.room4 form .btn { 
    text-align: center;
    margin-top: 50px; 
}
.room4 form .btn .btn1,
.room4 form .btn input {
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    width: auto;
    height: 50px;
}
.room4 form .btn .btn1 { margin-right: 20px; }
.room4 form .btn input { background-color: rgb(156, 39, 39); }
.room4 form .btn .btn1 span {
    position: relative; 
    z-index: 1;
}
.room4 form .btn .btn1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    transition: all .5s ease-in-out;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.room4 form .btn .btn1:hover::after { transform: translateX(-9%) translateY(-25%) rotate(45deg); }

.room4 .send_message,
.room4 .thankyou_message {
    text-align: center;
    font-size: 20px;
    display: none;
}

/*---------- Items ----------*/
.items {
    position: fixed;
    width: 350px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #fff;
}
.items > div { padding: 20px }

.items .itemBox {
    display: flex;
    flex-wrap: wrap;
}
.items .itemBox .item {
    flex-basis: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items .itemBox .item img {
    cursor: pointer;
    max-height: 100%;
}
.items .itemBox .item.active {
    border: 2px solid #f76c5f;
}

/* find */
.find:hover { background: rgba(255, 255, 255, 0.5); }
.find.goldkey {  
    width: 15%;
    height: 20%;
    bottom: 15%;
    left: 14.7%;
    border-radius: 50%;
}
.find.empty1 {  
    width: 12.8%;
    height: 14.4%;
    bottom: 28%;
    left: 39.8%;
}
.find.exit {  
    width: 29.5%;
    height: 44.5%;
    top: 14.3%;
    left: 17.6%;
}
.find.drawer {  
    width: 18.7%;
    height: 6.2%;
    bottom: 32.3%;
    right: 16.6%;
}
.find.pass1 {  
    width: 15.1%;
    height: 7.6%;
    bottom: 32.3%;
    right: 1.1%;
}
.find.bluekey {  
    width: 8.7%;
    height: 7.2%;
    bottom: 21.3%;
    right: 15.3%;
}
.find.note {  
    width: 16.7%;
    height: 8%;
    bottom: 25%;
    right: 29%;
}
.find.pass2 {
    width: 16.7%;
    height: 13.5%;
    bottom: 11.5%;
    right: 29%;
}

/* 핸드폰 충전 */
.chargeBox {
    width: 200px;
    height: 80px;
    border: 2px solid lime;
    border-radius: 5px;
    position: absolute;
    padding: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chargeBox::after {
    content: "";
    width: 15px;
    height: 30px;
    background: lime;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    border-radius: 0 2px 2px 0;
}

.chargeBox .charge {
    width: 0;
    height: 100%;
    background: lime;
    font-size: 40px;
    line-height: 70px;
}






/* 고래이미지 */
.scene {
    width: 500px;
    height: 500px;
    position: relative;
}
.scene .upper {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.scene .moon {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #ffedba;
    position: absolute;
    bottom: -150px;
    left: 50px;
    border: 5px solid #333;
    box-sizing: border-box;
    box-shadow: inset 0 -160px #fdda79;
    opacity: 0.9;
}
.scene .crater1 {
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    position: absolute;
    top: 20px;
    right: 150px;
    background-color: #fdda79;
    opacity: 0.2;
    border: 1px solid #333;
}
.scene .crater2 {
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position: absolute;
    top: 70px;
    right: 180px;
    background-color: #fdda79;
    opacity: 0.2;
    border: 1px solid #333;
}
.scene .cloud1 {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 100px;
    right: -50px;
    animation: float2 4s ease-in-out infinite alternate;
}
.scene .cloud2 {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    animation: float1 4s ease-in-out infinite alternate;
}
@keyframes float1 {
    from {transform: translateX(-50px);}
    to {transform: translateX(50px);}
}
@keyframes float2 {
    from {transform: translateX(50px);}
    to {transform: translateX(-50px);}
}
.scene .circle {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 60px;
    border-radius: 50%;
    background-color: fuchsia;
}
.scene .circle::before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: -40px;
    border-radius: 50%;
    background-color: fuchsia;
}
.scene .circle::after {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: 40px;
    border-radius: 50%;
    background-color: fuchsia;
}
.scene .filler {
    width: 145px;
    height: 40px;
    border-radius: 17px;
    position: absolute;
    top: 70px;
    left: 28px;
    background-color: fuchsia;
    box-shadow: inset 0 -5px purple;
}
.scene .star1 {
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: 20px;
    right: 0;
    animation: twinkle 0.5s 0.2s linear infinite alternate;
}
.scene .star1::after {
    content: "";
    width: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: -7px;
    right: 8px;
    animation: twinkle 0.5s  0.2s linear infinite alternate;
}
.scene .star2 {
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: -20px;
    right: 200px;
    animation: twinkle 0.5s 0.3s linear infinite alternate;
}
.scene .star2::after {
    content: "";
    width: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: -7px;
    right: 8px;
    animation: twinkle 0.5s 0.3s linear infinite alternate;
}
.scene .star3 {
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: 130px;
    left: -20px;
    animation: twinkle 0.5s linear infinite alternate;
}
.scene .star3::after {
    content: "";
    width: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: purple;
    position: absolute;
    top: -7px;
    left: 8px;
    animation: twinkle 0.5s linear infinite alternate;
}
@keyframes twinkle {
    to {background-color: deeppink;}
}
.scene .tail {
    width: 150px;
    height: 120px;
    position: absolute;
    bottom: -10px;
    left: 2px;
}
.scene .left {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkslateblue;
    position: absolute;
    top: 10px;
    left: 20px;
    border: 1px solid #333;
    z-index: 1;
}
.scene .left::before {
    content: "";
    width: 60px;
    height: 20px;
    border-bottom: 60px solid darkslateblue;
    border-radius: 0 0 0 100%;
    position: absolute;
    top: -20px;
    left: -30px;
    animation: excite1 2s infinite alternate linear;
    transform-origin: right;
}
@keyframes excite1 {
    to {transform: rotateZ(-5deg);}
}
.scene .right {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkslateblue;
    position: absolute;
    top: 10px;
    right: 20px;
    border: 1px solid #333;
    z-index: 1;
}
.scene .right::after {
    content: "";
    width: 60px;
    height: 20px;
    border-bottom: 60px solid darkslateblue;
    border-radius: 0 0 100% 0;
    position: absolute;
    top: -20px;
    right: -30px;
    animation: excite2 2s linear alternate infinite;
    transform-origin: left;
}
@keyframes excite2 {
    to {transform: rotateZ(5deg);}
}
.scene .body {
    height: 80px;
    width: 58px;
    border-radius: 25px;
    position: absolute;
    bottom: -18px;
    left: 54px;
    background-color: darkslateblue;
    transform: rotateZ(-10deg);
    border: 2px solid #333;
}
.scene .drop {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
    bottom: -25px;
    right: 180px;
    animation: spray 3s ease-out infinite;
}
.scene .drop::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: spray 3s 0.3s ease-out infinite;
}
.scene .drop::after {
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: spray 3s 0.7s ease-out infinite;
}
@keyframes spray {
    0% {transform: translateY(0);}
    30% {transform: translateY(-100px);}
    60% {transform: translateY(0);}
}
.scene .lower {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 5px solid #333;
    overflow: hidden;
}
.scene .whale {
    width: 400px;
    height: 400px;
    border-radius: 300px;
    position: absolute;
    top: -250px;
    left: 50px;
    background-color: slateblue;
    box-shadow: inset 0 -10px darkslateblue;
    border: 5px solid #333;
    box-sizing: border-box;
    overflow: hidden;
}
.scene .eye {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 110px;
    right: 120px;
    background-color: #333;
    animation: blink 2s linear infinite;
}
@keyframes blink {
    0% {transform: scaleY(0.1);}
    5% {transform: scaleY(0.1);}
    5.1% {transform: scaleY(1);}
}
.scene .detail1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 0px;
    background-color: lightsteelblue;
    overflow: hidden;
    border: 2px solid #333;
    box-sizing: border-box;
}
.scene .fin {
    width: 50px;
    height: 120px;
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    right: 180px;
    background-color: slateblue;
    border: 5px solid #333;
    border-top: 5px solid transparent;
    transform: rotateZ(15deg);
    box-shadow: inset 0 -10px darkslateblue;
    animation: swim 2s linear infinite alternate;
    transform-origin: top;
}
@keyframes swim {
    to {transform: rotateZ(20deg);}
}
.scene .detail2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 30px;
    border-bottom: 8px solid #333;
    border-right: 8px solid #333;
    transform: rotateZ(-50deg);
}
.scene .detail2::before {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border-bottom: 8px solid #333;
    border-right: 8px solid #333;
}
.scene .detail2::after {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 0;
    border-bottom: 8px solid #333;
    border-right: 8px solid #333;
}

